{% extends "scheduling/base.html" %}

{% block title %}Staff Dashboard{% endblock %}

{% block nav %}
  | <a href="{% url 'staff_dashboard' %}">Dashboard</a>
  | <a href="{% url 'inbox' %}">Inbox</a>
  | <a href="{% url 'curriculum_list' %}">Curriculum</a>
  | <a href="{% url 'admin:index' %}">Admin</a>
{% endblock %}

{% block content %}
  <h1>Staff Dashboard</h1>
  <p>Welcome, {{ user.username }}.</p>
  <ul>
    <li><a href="{% url 'admin:index' %}">Django admin</a></li>
    <li><a href="{% url 'inbox' %}">Inbox</a></li>
    <li><a href="{% url 'curriculum_list' %}">Curriculum</a></li>
  </ul>
{% endblock %}
